.grid {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    background-color: black;
    width: fit-content;
    padding: 1px;
}

.cell {
    min-width: 20px;
    min-height: 20px;
    background-color: white;
}


.painted {
    background-color: black;
}